<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Ch2.TDDStyle/test/com/visionarysoftwaresolutions/hfdpch2/tddstyle/demo/custom/simtest.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.visionarysoftwaresolutions.hfdpch2.tddstyle.demo.custom.simtest"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Ch2.TDDStyle"/>
</launchConfiguration>
